<!DOCTYPE html>
<html>
<head>
    <title>A.J.'s Rental Company</title>
</head>
<center><body>
<h2>A.J.'s GPS Rental Company:</h2>
<h3>Types:</h3>

</body>

<body style="background-color:lightgoldenrodyellow;">
<h2 style="background-color:red;">Trimble</h2>
<p style="background-color:green;">Trimble is a backpack GPS unit, old school but effective .</p>
</body><center>
<div><a href='welcome' style="...">Welcome</a></div>
<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRTypzAjRFjHY488xKwzd2vKhvNx1SBG6ApfjiVQa_a3swjj4j2" alt="Go Braves" width="100" height= "100">
</html>